

/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_ChiTietHDBH]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTietHDBH](
	[MaHDBH] [bigint] NOT NULL,
	[MaSP] [bigint] NOT NULL,
	[SoLuong] [int] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_ChiTietHDBH] PRIMARY KEY CLUSTERED 
(
	[MaHDBH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ChiTietHDDV]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTietHDDV](
	[MaHDDV] [bigint] NOT NULL,
	[MaDV] [bigint] NOT NULL,
	[SoLuong] [int] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_ChiTietHDDV] PRIMARY KEY CLUSTERED 
(
	[MaHDDV] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ChiTietHDN]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTietHDN](
	[MaHDN] [bigint] NOT NULL,
	[MaSP] [bigint] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [float] NULL,
	[HanSD] [date] NULL,
	[TongTien] [float] NULL,
	[SoHieuNhap] [int] NULL,
 CONSTRAINT [PK_dbo.tbl_ChiTietHDN] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ChiTietLTL]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ChiTietLTL](
	[MaLichTL] [bigint] NOT NULL,
	[Lan] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[TrangThai] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.tbl_ChiTietLTL] PRIMARY KEY CLUSTERED 
(
	[MaLichTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DanhGiaDV]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DanhGiaDV](
	[MaDG] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDV] [bigint] NOT NULL,
	[MaKH] [bigint] NOT NULL,
	[Ngay] [date] NULL,
	[ChatLuong] [float] NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.tbl_DanhGiaDV] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DichVu]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DichVu](
	[MaDV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](100) NULL,
	[Gia] [float] NULL,
	[MaNV] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.tbl_DichVu] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_HoaDonBanHang]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoaDonBanHang](
	[MaHDBH] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_HoaDonBanHang] PRIMARY KEY CLUSTERED 
(
	[MaHDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_HoaDonDV]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoaDonDV](
	[MaHDDV] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKH] [bigint] NOT NULL,
	[TongTien] [float] NULL,
	[NgayLap] [date] NULL,
 CONSTRAINT [PK_dbo.tbl_HoaDonDV] PRIMARY KEY CLUSTERED 
(
	[MaHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_HoaDonNhap]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_HoaDonNhap](
	[MaHDN] [bigint] IDENTITY(1,1) NOT NULL,
	[NgayNhap] [date] NULL,
	[TongTien] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_KhachHang]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_KhachHang](
	[MaKH] [bigint] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[Loai] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.tbl_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_LichTriLieu]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LichTriLieu](
	[MaLichTL] [bigint] IDENTITY(1,1) NOT NULL,
	[MaKH] [bigint] NOT NULL,
	[MaLT] [bigint] NOT NULL,
	[TrangThai] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo.tbl_LichTriLieu] PRIMARY KEY CLUSTERED 
(
	[MaLichTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_LieuTrinh]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LieuTrinh](
	[MaLT] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLT] [nvarchar](100) NULL,
	[ChiTietLT] [nvarchar](100) NULL,
	[ThoiGianLT] [nvarchar](100) NULL,
	[Gia] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_LieuTrinh] PRIMARY KEY CLUSTERED 
(
	[MaLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_LoaiNhanVien]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoaiNhanVien](
	[MaLoaiNV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
	[HeSo] [float] NULL,
 CONSTRAINT [PK_dbo.tbl_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_NhanVien]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_NhanVien](
	[MaNV] [bigint] IDENTITY(1,1) NOT NULL,
	[TenNV] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[ChiSoDichVu] [float] NULL,
	[HinhAnh] [ntext] NULL,
	[NgayVaoLam] [date] NULL,
	[MaLoaiNV] [bigint] NOT NULL,
	[Password] [char](50) NULL,
 CONSTRAINT [PK_dbo.tbl_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_SanPham]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SanPham](
	[MaSP] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[MoTaSP] [nvarchar](100) NULL,
	[SLTon] [int] NULL,
	[GiaBan] [float] NULL,
	[HinhAnh] [ntext] NULL,
	[SoHieuNhap] [int] NULL,
 CONSTRAINT [PK_dbo.tbl_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_TaiKhoan]    Script Date: 12/3/2024 12:32:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_TaiKhoan](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [char](50) NULL,
	[PassWord] [char](40) NULL,
	[Permission] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO


create table tbl_CaTrucNhanVien
(
	ID bigint not null identity(1,1) primary key,
	IDNhanVien bigint not null,
	Ngay date, 
	CaTruc nvarchar(50),
	TrangThai nvarchar(50)
	constraint fk_catrucnv foreign key (IDNhanVien)
	references tbl_NhanVien(MaNV)
	on delete cascade
	on update cascade
)
